<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/css/index.css" rel="stylesheet">
    <link href="__PUBLIC__/css/walletmx.css" rel="stylesheet">   
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/style.js"></script>
    <title>龙子人力资源</title>
</head>
<body>
<div class="box"></div>
<div class="index_header">
    <a href="javascript:history.go(-1);" class="left"><img src="__PUBLIC__/images/XQY-fh.png"/></a>
 助学金明细
    <a href="javascript:;" class="menu right"><img src="__PUBLIC__/images/XQY-gd.png"/></a>
</div>
<!--菜单页-->
<div class="menu_list">
    
    <div class="list_l">
        <ul class="clear">
            <li>
                <a href="__PUBLIC__/html/index.html">                    
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="__PUBLIC__/company/company.html">                    
                    <span>企业</span>
                </a>
            </li>
            <li>
                <a href="__PUBLIC__/resource/resource.html">                    
                    <span>资源圈</span>
                </a>
            </li>
            <li>
                <a href="__PUBLIC__/news/news.html">                   
                    <span>消息</span>
                </a>
            </li>
            <li>
                <a href="__PUBLIC__/person/person.html">                    
                    <span>我的</span>
                </a>
            </li>
            
        </ul>
    </div>
    
</div>
<!--钱包明细-->
<div class="walletmx">
	<ul class="mx clear">
		<li class="mxlines clear">
			<div class="mxleft">
				<p>报名2018寒假勤工俭学助学金</p>
				<p><span>2017-10-12</span><span>助学金账户：</span><span>1000.00</span></p>
			</div>
			<div class="mxright">
				+1000.00
			</div>
		</li>
		<li class="mxlines clear">
			<div class="mxleft">
				<p>2018寒假勤工俭学工期完成</p>
				<p><span>2017-10-12</span><span>助学金账户：</span><span>1000.00</span></p>
			</div>
			<div class="mxright">
				+800.00
			</div>
		</li>
		<li class="mxlines clear">
			<div class="mxleft">
				<p>报名2018寒假勤工俭学助学金</p>
				<p><span>2017-10-12</span><span>助学金账户：</span><span>1000.00</span></p>
			</div>
			<div class="mxright">
				+1000.00
			</div>
		</li>
		<li class="mxlines clear">
			<div class="mxleft">
				<p>2018寒假勤工俭学工期完成</p>
				<p><span>2017-10-12</span><span>助学金账户：</span><span>1000.00</span></p>
			</div>
			<div class="mxright">
				+800.00
			</div>
		</li>
	</ul>
</div>

<br>
<br>
<br>
<br>
<br>

</body>
</html>