<extend name="Layout/menu"/>
<block name="content">

<div id="content">
<div id="content-header">
  <div id="breadcrumb"> <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台"><i class="icon-home"></i> 活动管理</a> <a href="#" class="tip-bottom">活动编辑</a> <a href="#" class="current">活动编辑</a> </div>
  <h1>活动编辑</h1>
</div>
<div class="container-fluid">
  <hr>
  <div class="row-fluid">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <a href="__URL__/index"><h4>返回上一级</h4></a>
        </div>
        <div class="widget-content nopadding">
          <form action ="__MODULE__/huodong/update/id/<{$list[0][id]}>" method="post" class="form-horizontal" enctype="multipart/form-data" >
          
            <div class="control-group">
              <label class="control-label">活动名称</label>
              <div class="controls controls-row">
                <input type="text" placeholder="" name="title" value="<{$list[0][title]}>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">活动的类别</label>
              <div class="controls">
                <select  style="width:220px;" name="act_fl">
                  <option>--请选择分类--</option>
                  <foreach name="clist" item="cval">
                    <option value="<{$cval.id}>" <if condition="$cval.name eq $list[0]['act_fl']">selected<else /></if>><{$cval.name}></option>
                  </foreach>
                </select>
                <select name="aaa" >
                  <option value="a">a</option>
                  <option value="b" selected="selected">b</option>
                  <option value="c">c</option>
                  <option value="d">d</option>
                </select>
              </div>
            </div>

         
            <div class="control-group">
              <label class="control-label">活动费用</label>
              <div class="controls controls-row">
                <input type="text" name="price" value="<{$list[0][price]}>">
                
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">活动时间</label>
              <div class="controls controls-row">
                <input type="datetime-local" name="acttime" value=""><{$list[0][act_time]}>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">活动结束时间</label>
              <div class="controls controls-row">
                <input type="datetime-local" name="endtime" value=""> <{$list[0][end_time]}>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">截止报名时间</label>
              <div class="controls controls-row">
                <input type="datetime-local" name="deadline" value=""><{$list[0][deadline]}>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">活动地点</label>
              <div class="controls controls-row">
                <input type="text" name="address" value="<{$list[0][address]}>"> 
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">赞助商</label>
              <div class="controls controls-row">
                <input type="text" name="zanzhushang" value="<{$list[0][zanzhushang]}>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">活动名额</label>
              <div class="controls controls-row">
                <input type="text" name="total" value="<{$list[0][total]}>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">电话</label>
              <div class="controls controls-row">
                <input type="text" name="tel" value="<{$list[0][tel]}>">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">联系人</label>
              <div class="controls controls-row">
                <input type="text" name="lianxiren" value="<{$list[0][lianxiren]}>">
              </div>
            </div>
            <!-- <div class="control-group">
              <label class="control-label"><h5>活动日程</h5></label>
              <div class="row-fluid" style="width:600px; margin:0px 0px 0px 50px;" >
                <div class="widget-box">
                  <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>活动日程</h5>
                  </div>
                  <div class="widget-content">
                    <div class="control-group">
                        <div class="">
                          <textarea class="textarea_editor span12" rows="5"  placeholder="" name="richeng"  value="<{$list[0][richeng]}>" ><{$list[0][richeng]}></textarea>
                        </div>                
                    </div>
                  </div>
                </div>
              </div>
           </div> -->

          <div class="control-group">
            <label class="control-label"><h4>活动详情</h4></label>
            <div class="row-fluid" style="width:968px;  margin:0px 20px 0px 0px;" >
              <div class="widget-box">
                <div class="widget-title" style="margin:0px 0px 0px 0px;"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  <h5>详情介绍</h5>
                </div>
                 <!-- 加载编辑器的容器 -->
                <script id="container" name="xiangqing" type="" placeholder="" ><{$list[0][xiangqing]}>  
                </script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
                <!-- 编辑器源码文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                    var ue = UE.getEditor('container');
                </script>
              </div>
            </div> 



            <div class="form-actions">
              <button type="submit" class="btn btn-success" style="margin:0px 0px 0px 200px">确定</button>
               <button type="reset" class="btn btn-success"style="margin:0px 0px 0px 30px">重置</button>
         </div> 
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</block>
