<extend name="Layout/menu"/>

<block name="content">



<style type="text/css">

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

ul.countdown {

  list-style: none;

  margin: 0px 0;

  padding: 0;

  display: block;

  text-align: center;

}

ul.countdown li {

  display: inline-block;

}

ul.countdown li span {

  font-size: 20px;

  font-weight: 30px;

  line-height: 30px;

}

ul.countdown li.seperator {

  font-size: 10px;

  line-height: 30px;

  vertical-align: top;

}

ul.countdown li p {

  color: #a7abb1;

  font-size: 14px;

}

a {

  color: #76949F;

  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}

.source {

  width: 405px;

  margin: 0 auto;

  background: #4f5861;

  color: #a7abb1;

  font-weight: bold;

  display: block;

  white-space: pre;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

}

.btn {

  background: #f56c4c;

  margin: 40px auto;

  padding: 12px;

  display: block;

  width: 100px;

  color: white;

  text-align: center;

  text-transform: uppercase;

  font-weight: bold;

  text-decoration: none;

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

}
.btn:hover {
   text-decoration: none;
   opacity: .7;
}
</style>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台">
            <i class="icon-home"></i>后台</a> <a href="#" class="current">助学金</a> </div>
        <h1>助学金</h1>
    </div>
  <div class="container-fluid" style="TEXT-ALIGN:center;">
    <hr>
    <div class="row-fluid" >
      <div class="span12" >
        <div class="widget-box" >
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>助学金</h5>
          </div>
        <form action="__MODULE__/Grants/index" method="get">
            <div class="widget-content nopadding">
              <div style="height:50px;">
                  <div style="float:left; margin:12px 0px 0px 30px;font:18px 微软雅黑;">搜索:</div>
                      <input type="text" name="title" style="width:160px; margin:10px 0px 0px 5px;float:left;" value="<{$Think.get.title}>" /> 
                  <div style="float:left; margin:0px 0px 0px 30px;font:18px 微软雅黑;">
                      <input type="submit" value="查询" style="width:60px; margin:10px 0px 0px 0px;" />
                  </div>
              </div>
            </div>
          </form>
           <!--  <a href="__MODULE__/huodong/add/">
           <div style="float:right; font:18px 微软雅黑; margin:12px 50px 0px 0px;">增加活动</div>
            </a> -->
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><span style="font:15px 微软雅黑,黑体">编号</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">用户名</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">助学金额度</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">订单号</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">状态</th>
                    <th><span style="font:15px 微软雅黑,黑体">申请时间</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">操作</span></th>
                </tr>
            </thead>
            <tbody>
               <foreach name="list" item="val">
                  <tr class="gradeC">
                     <td style="text-align:center"><{$val.id}></td>
                     <td style="text-align:center"><{$val.username}></td>
                     <td style="text-align:center"><{$val.amount}></td>
                     <td style="text-align:center" class="order"><{$val.order}></td>
                     <td style="text-align:center">
                        <if condition="$val.statu eq 0">
                          <div class="statu" id="1" pid="1">待审核</div>
                        <else/>
                            <if condition="$val.statu eq 1">
                              <div class="statu">审核通过</div>
                            <else/>
                              <div class="statu">无效</div>
                            </if>
                        </if>
                     </td>
                     <td style="text-align:center"><{$val.time}></td>
                     <td class="center">
                        <div style="text-align:center;">  
                           <!-- <a href="__MODULE__/huodong/manage/id/<{$vale.id}>">图片管理</a>&nbsp;|
                           <a href="__MODULE__/huodong/xiangqin/id/<{$vale.id}>">活动详情</a>&nbsp;|
                           <a href="__MODULE__/huodong/bmer/id/<{$vale.id}>">已报名者</a>&nbsp;| -->
                            <if condition="$val.statu eq 0">
                                <a href="__MODULE__/Grants/editstatu/id/<{$val.id}>">修改状态</a>
                            <else/>无
                           </if>
                           <!-- <if condition="$_SESSION['statu'] eq 1"> 
                               <a href="__MODULE__/Grants/del/id/<{$vale.id}>">删除</a>
                           <else/>
                           </if> -->
                        </div>
                     </td>
                  </tr>     
               </foreach>
            </tbody>
         </table>
      </div>
    </div>
  </div>
  <{$pageinfo}>
</div>
<script type="text/javascript">
   $(function(){
         $(".statu").css("cursor","pointer");
         $(".statu").click(function(){
            var  abs=$(this);
            var  gid=$(this).attr("id");
            var  pid=$(this).attr("pid");
            var  order=$(".order").text();
               $.post("__MODULE__/Grants/statu",{id:gid,order:order,pid:pid},function(data){
                  if(data == 1){
                     var val = $(".statu").text();
                     if(val=="审核通过"){                       
                        $(".statu").text("待审核");
                     }else{
                        $(".statu").text("审核通过");
                     }
                  }
               },"text");
            });
         });
</script>
</block>