<extend name="Layout/menu"/>

<block name="content">



<!--sidebar-menu-->



<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台"><i class="icon-home"></i>后台</a> <a href="#" class="current">图片管理</a> </div>
    <h1>活动图片管理</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
       
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <a href="__URL__/index"><div style="float:right;margin:0px 40px 0px 0px;"><h4>返回上一级</h4></div></a>
          </div>
          <div class="widget-content nopadding">
          <div style="height:50px;">
          <div style="float:left; margin:12px 0px 0px 30px;font:18px 微软雅黑;">正在管理</div>
            <div type="text" name="name" style="width:160px; margin:10px 0px 0px 5px;float:left;font:24px 楷体; text-align:center; color:red;"><{$list[0].title}>
            </div>
            <div style="float:left; margin:15px 0px 0px 10px;font:15px 微软雅黑;">的图片</div>
            <div class="controls" style="float:left; margin:0px 10px 0px 20px;"></div>
            <form action ="__MODULE__/Company/upload" method="post" class="form-horizontal" enctype="multipart/form-data" >
              <div class="control-group" > 
                  <div class="controls controls-row" style="float:left">

                      标题：<input type="text" name="title">
                      <!-- <input type="file" name="img" > -->
                  </div>
                  <div class="controls controls-row" style="float:left">
                      <input type="hidden" name="id" value="<{$list[0]['id']}>">
                      <input type="file" name="img" >
                  </div>
                  <div style="float:right;margin:10px 0px ">
                      <button type="submit" >确定</button>
                  </div> 
              </div> 
            </form>
          </div>
            <table class="table " >
              <thead>
                <tr>
                  <th><span style="font:15px 微软雅黑,黑体">编号</span></th>
                  <th><span style="font:15px 微软雅黑,黑体">标题</span></th>
                  <th><span style="font:15px 微软雅黑,黑体">图片</span></th>
                  <th><span style="font:15px 微软雅黑,黑体">是否封面图片</span></th>
                  <if condition="$_SESSION['statu'] eq 1"> 
                       <th><span style="font:15px 微软雅黑,黑体">操作</span></th>
                  <else/>
                  </if>
                </tr>
              </thead>
              <tbody>
                <foreach name="valus" item="val">
                  <tr class="gradeC">
                    <td style="text-align:center"><{$val.id}></td>
                    <td style="text-align:center"><{$val.title}></td>
                    <td style="text-align:center;width:40px" ><img src="__PUBLIC__/images/company/<{$val.img}>" /></td>
                    <td style="text-align:center"><a href="__MODULE__/Company/face/id/<{$val.id}>"><if condition="$val.face eq 0">否<else />是</if></a></td>
                    <if condition="$_SESSION['statu'] eq 1"> 
                        <td class="center">
                          <div style="text-align:center;">
                          <a href="__MODULE__/Company/delimg/id/<{$val.id}>">删除</a>
                          </div>
                        </td>
                      <else/>
                      </if>
                  </tr> 
                </foreach>
              </tbody>
            </table>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>
</block>