<extend name="Layout/menu"/>

<block name="content">



<style type="text/css">

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

ul.countdown {

  list-style: none;

  margin: 0px 0;

  padding: 0;

  display: block;

  text-align: center;

}

ul.countdown li {

  display: inline-block;

}

ul.countdown li span {

  font-size: 20px;

  font-weight: 30px;

  line-height: 30px;

}

ul.countdown li.seperator {

  font-size: 10px;

  line-height: 30px;

  vertical-align: top;

}

ul.countdown li p {

  color: #a7abb1;

  font-size: 14px;

}

a {

  color: #76949F;

  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}

.source {

  width: 405px;

  margin: 0 auto;

  background: #4f5861;

  color: #a7abb1;

  font-weight: bold;

  display: block;

  white-space: pre;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

}

.btn {

  background: #f56c4c;

  margin: 40px auto;

  padding: 12px;

  display: block;

  width: 100px;

  color: white;

  text-align: center;

  text-transform: uppercase;

  font-weight: bold;

  text-decoration: none;

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

}
.btn:hover {
   text-decoration: none;
   opacity: .7;
}
</style>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台">
            <i class="icon-home"></i>后台</a> <a href="#" class="current">资源圈</a> </div>
    </div>
  <div class="container-fluid" style="TEXT-ALIGN:center;">
    <!-- <hr> -->
    <div class="row-fluid" >
      <div class="span12" >
        <div class="widget-box" >
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
              <h5>资源圈</h5><p style="margin:0px 0px 0px 500px;"><a href="__MODULE__/Release/add">添加资源</a><p>
          </div>
        <form action="__MODULE__/Grants/index" method="post">
            <div class="widget-content nopadding">
              <div style="height:50px;">
                  <div style="float:left; margin:12px 0px 0px 30px;font:18px 微软雅黑;">搜索:</div>
                      <input type="text" name="title" style="width:160px; margin:10px 0px 0px 5px;float:left;" value="<{$Think.get.title}>" /> 
                  <div style="float:left; margin:0px 0px 0px 30px;font:18px 微软雅黑;">
                      <input type="submit" value="查询" style="width:60px; margin:10px 0px 0px 0px;" />
                  </div>
              </div>
            </div>
          </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><span style="font:15px 微软雅黑,黑体">编号</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">标题</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">开始时间</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">结束时间</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">招聘人数</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">工资</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">支付方式</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">联系人</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">联系电话</span></th>
                    <th><span style="font:15px 微软雅黑,黑体">状态</th>
                    <th><span style="font:15px 微软雅黑,黑体">操作</span></th>
                </tr>
            </thead>
            <tbody>
               <foreach name="list" item="val">
                  <tr class="gradeC">
                     <td style="text-align:center"><{$val.id}></td>
                     <td style="text-align:center"><{$val.title}></td>
                     <td style="text-align:center"><{$val.begin_time}></td>
                     <td style="text-align:center"><{$val.end_time}></td>
                     <td style="text-align:center"><{$val.total}></td>
                     <td style="text-align:center"><{$val.money}></td>
                     <td style="text-align:center"><{$val.type}></td>
                     <td style="text-align:center"><{$val.contacts}></td>
                     <td style="text-align:center"><{$val.tel}></td>
                      <td style="text-align:center">
                        <if condition="$val.statu eq 1">
                          <div class="statu" id="<{$val.id}>">√</div>
                        <else/>
                          <div class="statu" id="<{$val.id}>">×</div>
                        </if>
                      </td>
                     <td class="center">
                        <div style="text-align:center;">  
                          <a href="__MODULE__/Release/edit?id=<{$val.id}>">编辑信息</a>|

                          <a href="__MODULE__/Release/addcontent?id=<{$val.id}>">添加信息</a>
                          <if condition="$_SESSION['statu'] eq 1"> 
                            |<a href="__MODULE__/Release/del/id/<{$val.id}>">删除</a>
                          <else/>
                          </if>
                        </div>
                     </td>
                  </tr>     
               </foreach>
            </tbody>
         </table>
      </div>
    </div>
  </div>
  <{$pageinfo}>
</div>
<script type="text/javascript">
   $(function(){
         $(".statu").css("cursor","pointer");
         $(".statu").click(function(){
            var  abs=$(this);
            var  gid=$(this).attr("id");
               $.get("__MODULE__/Release/statu/",{"id":gid},function(data){
                  if(data==1){
                     var val = abs.html();
                     if(val=="√"){                       
                        abs.html("×");
                     }else{
                        abs.html("√");
                     }
                  }
               },"text");
            });
         });
</script>
</block>