 <!DOCTYPE html>

<html lang="en">

<head>

<title>龙子网</title>

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />

<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 

</head>

<body>



<!--Header-part-->

<div id="header">

  <h1><a href="dashboard.html">龙子网</a></h1>

</div>

<!--close-Header-part--> 



<!--top-Header-menu-->

<include file="Public/header" />



<!--start-top-serch-->

<!--sidebar-menu-->



<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>

  <ul>

    <li><a href="__APP__/Admin/Index/index"><i class="icon icon-home"></i> <span>后台首页</span></a> </li>



    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>用户管理</span> <span class="label label-important"></span></a>

      <ul>

        <if condition="$_SESSION['statu'] eq 1"> 

            <li><a href="__APP__/Admin/User/userManager">管理员</a></li>
            <li><a href="__APP__/Admin/User/userManagerAdd">添加管理员</a></li>
            <li><a href="__APP__/Admin/User/userList">网站用户</a></li>

        <else/>
        </if>

        <li><a href="__APP__/Admin/User/userinfo">个人信息</a></li>

      </ul>

    </li>


    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>助学金</span> <span class="label label-important"></span></a>
        <ul>
            <li><a href="__APP__/Admin/Grants/index">助学金申请</a></li>
        </ul>
    </li> 



  <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>提现</span> <span class="label label-important"></span></a>
      <ul>
          <!-- <li><a href="__APP__/Admin/shipin/add">添加视频</a></li> -->
          <li><a href="__APP__/Admin/Deposit/index">提现申请</a></li>
          
      </ul>
  </li>
    

  <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>企业</span> <span class="label label-important"></span></a>
      <ul>
        <!-- <li><a href="__APP__/Admin/Company/add">添加企业</a></li> -->
        <li><a href="__APP__/Admin/Company/index">企业信息</a></li>
        <!-- <li><a href="__APP__/Admin/Lvyfenlei/add">添加分类</a></li> -->
        <!-- <li><a href="__APP__/Admin/Lvyfenlei/index">分类管理</a></li> -->
        <!-- <li><a href="__APP__/Admin/lvyou/addglue">添加攻略游记</a></li> -->
        <!-- <li><a href="__APP__/Admin/lvyou/glueindex">攻略游记信息</a></li> -->
      </ul>

  </li>





  <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>资源</span> <span class="label label-important"></span></a>
      <ul>
        <!-- <li><a href="__APP__/Admin/shijian/add">发布实践</a></li> -->
        <li><a href="__APP__/Admin/Release/index">资源信息</a></li>
        <!-- <li><a href="__APP__/Admin/ershou/add">发布二手</a></li> -->
        <!-- <li><a href="__APP__/Admin/ershou/index">二手信息</a></li> -->
        <!-- <li><a href="__APP__/Admin/yule/add">发布娱乐</a></li> -->
        <!-- <li><a href="__APP__/Admin/yule/index">娱乐信息</a></li> -->
        <!-- <li><a href="__APP__/Admin/zufang/add">发布租房</a></li> -->
        <!-- <li><a href="__APP__/Admin/zufang/index">租房信息</a></li> -->
      </ul>
  </li>


   <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>消息</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Info/index">官方消息</a></li>
      </ul>
  </li>


  <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>分类</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Fenlei/index">分类</a></li>
        <!-- <li><a href="__APP__/Admin/Fenlei/add">添加分类</a></li> -->
      </ul>
    </li>
    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>新闻</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Xinwen/index">新闻管理</a></li>
        <!-- <li><a href="__APP__/Admin/Xinwen/add">添加新闻</a></li> -->
        <li><a href="__APP__/Admin/Xinwen/select">未审核</a></li>
        <li><a href="__APP__/Admin/Xinwen/hnnew">马拉松</a></li>
      </ul>
    </li>
    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>体育</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Tiyu/index">体育新闻管理</a></li>
        <!-- <li><a href="__APP__/Admin/Tiyu/add">添加体育新闻</a></li> -->
        <li><a href="__APP__/Admin/Ball/index">足球频道</a></li>
        <!-- <li><a href="__APP__/Admin/Ball/add">添加足球信息</a></li> -->
        <li><a href="__APP__/Admin/Mingshi/index">查看名师</a></li>
        <!-- <li><a href="__APP__/Admin/Mingshi/add">添加名师</a></li> -->
        <li><a href="__APP__/Admin/Star/index">查看明星</a></li>
        <!-- <li><a href="__APP__/Admin/Star/add">添加明星</a></li> -->
        <li><a href="__APP__/Admin/Saishi/index">赛事公告</a></li>
        <!-- <li><a href="__APP__/Admin/Saishi/add">添加公告</a></li> -->
        <li><a href="__APP__/Admin/Zhishi/index">体育知识</a></li>
        <!-- <li><a href="__APP__/Admin/Zhishi/add">添加知识</a></li> -->
      </ul>
    </li>
    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>文学</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Wenxue/index">文学管理</a></li>
        <!-- <li><a href="__APP__/Admin/Wenxue/add">添加文章</a></li> -->
        <li><a href="__APP__/Admin/Shetuan/index">社团管理</a></li>
        <li><a href="__APP__/Admin/Wenxue/select">未审核</a></li>
        <!-- <li><a href="__APP__/Admin/Shetuan/add">添加社团</a></li> -->
        <li><a href="__APP__/Admin/Writer/index">作家管理</a></li>
        <!-- <li><a href="__APP__/Admin/Writer/add">添加作家</a></li> -->
      </ul>
    </li>

    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>图册</span> <span class="label label-important"></span></a>
      <ul>
        <li><a href="__APP__/Admin/Tuce/index">图册管理</a></li>
        <li><a href="__APP__/Admin/Tuce/add">添加图册</a></li>
      </ul>
    </li>

    <li class="submenu" > <a href="#"><i class="icon icon-th-list"></i> <span>教育培训</span> <span class="label label-important"></span></a>
        <ul>
            <!-- <li><a href="__APP__/Admin/pxjigou/add">添加培训机构</a></li> -->
            <li><a href="__APP__/Admin/pxjigou/index">培训机构信息</a></li>

           <!--  <li><a href="__APP__/Admin/peixun/add">添加培训</a></li>
            <li><a href="__APP__/Admin/peixun/index">培训信息</a></li> -->

            <!-- <li><a href="__APP__/Admin/pxfenlei/add">添加分类</a></li> -->
            <li><a href="__APP__/Admin/pxfenlei/index">分类管理</a></li>
        </ul>
    </li> 




</ul>

</div>

<block name="content"></block>





<!--Footer-part-->

<div class="row-fluid">

  <div id="footer" class="span12"> 2016 &copy; Today <a href="http://themedesigner.in/">我们要一步一步迈向巅峰</a> </div>

</div>

<!--end-Footer-part-->


<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 

<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 

<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 

<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 

<!-- <script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>  -->

<script src="__PUBLIC__/Admin/js/masked.js"></script> 

<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 

<!-- <script src="__PUBLIC__/Admin/js/select2.min.js"></script>  -->

<script src="__PUBLIC__/Admin/js/matrix.js"></script> 

<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 

<!-- <script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script>  -->

<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 

<!-- <script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script>  -->

<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 

<script>

  // $('.textarea_editor').wysihtml5();

</script>

</body>

</html>

