<extend name="Layout/menu"/>
<block name="content">

<!--sidebar-menu-->

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" class="tip-bottom" data-original-title="回到后台"><i class="icon-home"></i>后台</a> <a href="#" class="current">图片管理</a> </div>
    <h1>活动图片管理</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <form action ="__MODULE__/Xinwen/inse/id/<{$list[0].id}>" method="post" class="form-horizontal" enctype="multipart/form-data" >
        <div class="control-group">
            <label class="control-label">新闻图片</label>
            <div class="controls controls-row">
              <input type="file" name="image1">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">新闻图片</label>
            <div class="controls controls-row">
              <input type="file" name="image2">
            </div>
        </div> 
        <div class="form-actions">
            <button type="submit" class="btn btn-success" style="margin:0px 0px 0px 0px">确定</button>
             <button type="reset" class="btn btn-success"style="margin:0px 0px 0px 30px">重置</button>
        </div>
         <table class="table " >
              <thead>
                <tr>
                  <th><span style="font:15px 微软雅黑,黑体">编号</span></th>
                  <th><span style="font:15px 微软雅黑,黑体">图片1</span></th>
                  <th><span style="font:15px 微软雅黑,黑体">图片2</span></th>
                </tr>
              </thead>
              <tbody>
                <foreach name="list" item="val">
                  <tr class="gradeC">
                    <td style="text-align:center"><{$val.id}></td>
                    <td style="text-align:center"><img src="__PUBLIC__/images/xinwen/40_<{$val.image1}>" /></td>
                    <td style="text-align:center"><img src="__PUBLIC__/images/xinwen/40_<{$val.image2}>" /></td>
                  </tr> 
                </foreach>
              </tbody>
            </table>
      </form>
      </div>
    </div>
  </div>
</div>
</block>