<div class="index_footer">
    <ul class="clear">
    	<li><a href="__MODULE__/Index/index"><img src="__PUBLIC__/images/index_footerSY.png"/></a></li>
    	<li><a href="__MODULE__/Company/company"><img src="__PUBLIC__/images/index_footerQY.png"/></a></li>
    	<li><a href="__PUBLIC__/Release/resource"><img src="__PUBLIC__/images/index_footerZYQ1.png"/></a></li>
    	<li><a href="__PUBLIC__/news/news"><img src="__PUBLIC__/images/index_footerXX.png"/></a></li>
    	<li><a href="__PUBLIC__/Person/person"><img src="__PUBLIC__/images/index_footerWD.png"/></a></li>
    </ul>   
</div>